---
import { CardGrid  } from '@astrojs/starlight/components';
import CardItem from './helper/CardItem.astro';

const cards = [
  {
    title: "Tutorials",
    icon: "rocket",
    description: 'Checkout tutorials <a href="/youtube/tutorial/">here</a>.',
    iconColor:"orange",
    url:"/youtube/tutorial"
  },
  {
    title: "Tips and Tricks",
    icon: "list-format",
    description: 'Checkout all tips and tricks <a href="/youtube/general/tips-and-tricks/">here</a>.',
    iconColor:"red",
    url:"/youtube/general/tips-and-tricks"
  },
  {
    title: "Cookbooks",
    icon: "document",
    description: 'Explore cookbooks, recipes, boilerplates, starter-kits and much more, <a href="/youtube/boilerplate/">here</a>.',
    iconColor:"blue",
    url:"/youtube/general/boilerplate"

  },
  {
    title: "Installations",
    icon: "setting",
    description: 'To view installation guides, click <a href="/youtube/tutorial/">here</a>.',
    iconColor:"green",
    url:"/youtube/general/install"

  },
];

---

  {cards.map(({ title, icon, description, iconColor ,url}) => (
    <CardItem title={title} icon={icon} description={description} iconColor={iconColor} url={url}/>
  ))}
